
<div class="tabs">
<ul>
<li><%= link_to "Settings", {:controller => 'settings', :action => 'plugin', :id => 'redmine_digest'}, :class => 'selected' %></li>
<li><%= link_to "Readme", :controller => 'digest', :action => 'show_readme' %></li>
</ul>
</div>
<p>
	<%= content_tag(:label, l(:label_digest_default_account_enabled)) %>
	<%= check_box_tag("settings[default_account_enabled]", "1", Setting.plugin_redmine_digest[:default_account_enabled]) %> 
	<%= l(:label_active) %><br />
</p>

<p>
	<%= content_tag(:label, l(:digest_start)) %>
	<%= text_field_tag("settings[start_default]", Setting.plugin_redmine_digest[:start_default]) %>
	<%= l(:days) %><br />
	<em><%= l(:start_explanation) %></em>
</p>
<p>
	<%= content_tag(:label, l(:digest_days)) %>
	<%= text_field_tag("settings[days_default]", Setting.plugin_redmine_digest[:days_default]) %>
	<%= l(:days) %>
</p>
<p>
	<%= content_tag(:label, l(:label_note)) %>
	<%= l(:label_note_text) %>
</p>
<p>
	<%= content_tag(:label, l(:label_example)) %>
	<%= l(:label_example_text) %>
</p>
<p>&nbsp;</p>
<p>
	<%= link_to l(:label_send_test_email), :controller => 'digest', :action => 'test_email' %>
</p>
<p>
	<%= link_to l(:label_send_all_digests), :controller => 'digest', :action => 'send_all' %>
</p>
<p>
	<em><%= l(:label_apply_changes_first) %></em>
</p>
<%#= textilizable(File.open(File.dirname(__FILE__) + '/../../../README.rdoc', 'rb').read) %>


